- name: Create namespace
  become: true
  shell: "kubectl create namespace evoresult --kubeconfig=/home/vagrant/.kube/config"

- name: Copy files to vm
  copy:
    src: "{{item}}"
    dest: "/home/vagrant/"
  with_items:
    - "producer.yml"
    - "consumer.yml"


- name: Deploy consumer
  become: true
  shell: "kubectl apply -f /home/vagrant/consumer.yml --kubeconfig=/home/vagrant/.kube/config"

- name: Deploy producer
  become: true
  shell: "kubectl apply -f /home/vagrant/producer.yml --kubeconfig=/home/vagrant/.kube/config"