---
apiVersion: v1
kind: Namespace
metadata:
   name: evoresult
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: consumer
  namespace: evoresult
  labels:
    app: consumer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: consumer
  template:
    metadata:
      labels:
        app: consumer
    spec:
      hostNetwork: true
      containers:
        - name: consumer
          image: ghcr.io/s21deniss/evoresultconsumer:latest