---
apiVersion: v1
kind: Namespace
metadata:
   name: evoresult
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: producer
  namespace: evoresult
  labels:
    app: producer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: producer
  template:
    metadata:
      labels:
        app: producer
    spec:
      hostNetwork: true
      containers:
        - name: producer
          image: ghcr.io/s21deniss/evoresultproducer:latest